<form [formGroup]="ImpiegatoForm" (ngSubmit) = "saveImpiegato()">
    <div class="form-group">
     <label for="nome">Nome</label>
     <input type="text" class="form-control" name="nome"  id="nome" formControlName="nome">
    </div>
    <div class="form-group">
        <label for="cognome">Cognome</label>
        <input type="text" class="form-control" name="cognome" id="cognome" formControlName="cognome">
       </div>
       <div class="form-group">
        <label for="qualifica">Qualifica</label>
        <input type="text" class="form-control" name="qualifica" id="qualifica" formControlName="qualifica">
       </div>
       <div class="form-group">
        <label for="telefono">Telefono</label>
        <input type="text" class="form-control" name="telefono" id="telefono" formControlName="telefono">
       </div>
       <div class="form-group disabled">
       <input type="file" name="upload2" id="upload2" class="btn btn-primary upload" multiple="multiple" />
        </div>
        <div class="form-group">
        <label for="telefono">RackingPoints</label>
        <input type="number" class="form-control" name="rackingPoints" id="rackingPoints" formControlName="rackingPoints">
        </div>
        <div class="form-group">
            <label for="dipartimento">Dipartimento</label>
            <input type="number" class="form-control" name="dipartimento" id="dipartimento" formControlName="dipartimento">
            </div>
            <input type="submit" class="btn btn-primary" value="Save">
</form>