<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
<div>
    <h1 class="h1 text-center">Il nostro team</h1>
</div>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Cognome</th>
            <th scope="col">Qualifica</th>
            <th scope="col">Detail</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let impiegato of impiegatiResult">
            <td scope="row">{{impiegato.nome}}</td>
            <td scope="row">{{impiegato.cognome}}</td>
            <td scope="row">{{impiegato.qualifica}}</td>
           <td><a href="team/Detail"><i class="bi bi-file-text"></i></a>
           </td>
        </tr>
    </tbody>
</table>

<router-outlet></router-outlet>
