  <main role="main">
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Benvenuto in Future Agency</h1>
          <p>L'agenzia esperta nell'online.Un team che vanta più di 150 membri che ogni giorno si impegna insieme per raggiungere un unico obiettivo in comune.
              Qui troverai esperti in varie discipline online, dai migliori trader ed esperti in borsa e finanza dai miglior consulenti publicitari. Circa 150 000 aziende
             sparsi in tutto il mondo hanno deciso di affidarsi per innovazioni che le hanno portato a scallare le classifiche mondiali,il mercato del lavoro da 10 anni a questa parte è cambiato molto e continuerà la sua 
             mutazione ed è importate stare al passo con i tempi. Sei anche tu un imprenditore alle prime armi oppure sei già molti anni operativo ma non riesci ad eccellere e rimani sempre un passo indietro agli altri ? Non preoccuparti possiamo collaborare insieme 
             per trovare una strategia vincente che ti farà scalare le classifiche.Clicca qui per sapere di più e fissare il primo appuntamento gratiuto.
          </p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Preventivo Gratuito &raquo;</a></p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Piano RFS</h2>
            <p>Piano riserva fondo di sicurezza ,uno dei progetti chiave di questo 2021 che consiste nel creare una sorta di fondo di liquidità di riserva per gestire le crisi a breve-lungo termine in cui si rischia di andare in contro</p>
            <p><a class="btn btn-secondary" href="#" role="button">Vedi tutto  &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Investimento Borse di amazon</h2>
            <p>Progetto che consente alla società che hanno deciso di aderire quello di ricevere una seconda entrata speculando sulle borse di mercato piu in voga di questi ultimi mesi (per ora amazon detiene il primato mondiale).
                Per questo progetto si occupano i dipartimenti di trading.
            </p>
            <p><a class="btn btn-secondary" href="#" role="button">Vedi tutto &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Speculazione sui beni primari</h2>
            <p>In questo progetto i produttori di materie prime hanno aderito per poter speculare sul petrolio e altri beni di primaria necessita secondo il nostro reparto analisi finaziaria ha valutato come una delle più promettenti dei ultimi tempi.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Vedi tutto &raquo;</a></p>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->

    </main>
